.app-layout {
  .container {
    height: 100%;
    border-top: 0.5px solid $light;
    display: flex;
  }

  main {
    padding: 15px 20px;
    width: 100%;

    @media #{map-get($display-breakpoints, 'md-only')} {
      margin-left: 60px;
    }
  }
}
