.custom-navbar {
  display: flex;
  align-items: center;
  padding: 10px 10px;

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    padding: 20px 40px;
  }

  .logo {
    font-family: "Playfair Display", serif;
    font-size: 2em;
    color: $primary;
    margin-right: auto;
  }
}

.notification-bar {
  max-height: 70vh;
  width: 250px;

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    width: 450px;
  }

  .noti {
    padding: 7px 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 7px;

    &--post {
      background-color: $secondary;
    }

    &--review {
      background-color: #faedee;
    }

    &--report {
      background-color: #faf2f3;
    }

    &--seen {
      background-color: $light;
    }
  }
}
